.landing-page {
    font-family: Arial, sans-serif;
    color: #333;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #f0f4f8;
    /* Cor de fundo leve */
    position: relative;
    height: 60vh;
}

.hero-content {
    position: absolute;
    z-index: 10;
    text-align: center;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #4682B4;
    /* Cor principal */
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
    /* Cor do texto */
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4682B4;
    /* Cor do botão */
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #004d40;
    /* Cor do botão ao passar o mouse */
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.4;
    /* Imagem de fundo com opacidade */
}